
body{
    position: relative;
    width: 90em;
    height: 64em;
    margin: 0 0 0 0;
    background: white  ;
}

main{
    position: relative;
    width: 90em;
    height: 64em;   
    margin: 0 0 0 0;
   
    /* Light blue/light-blue-100 */
    
    background: #F3F5FC;
}
.caja_logo{
    width: 120px;
    height: 48px;
    position: relative;
    margin: 40px 0 0 40px;
    display: inline-block;
}

.logo{
    position: relative;
    margin: 0% 37.43% 0% 36.67%;
}

.texto_ingresado{
    /* Ingrese el texto aqui */
    position: relative;
    width: 18em;
    height: 1.5em;
    margin: 2.5em 0px 0px 7.5em;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border:0em;
    background: #F3F5FC;
    resize: none;
}

.texto_ingresado::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.resultado{
    /* Rectangle 1 */
    position: absolute;
    display: inline;
    width: 25em;
    height: 59em;
    margin: -8.125em 0 0 62.5em;

    /* White */
    background: white;

    /* shadow */
    box-shadow: 0px 1.5em 2em -0.5px rgba(0, 0, 0, 0.08);
    border-radius: 2em;
}

.Muñeco{
    /* Muñeco */
    position: absolute;
    margin: 15.19em 2em auto;

}

.txt_resultado{
    /* Frame 5 */
    position: relative;
    display: block;
    margin: 24.13em 1.34em 11.8em 1.34em;

    /* Ningún mensaje fue encontrado */
    width: 14em;
    height: 2.42em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;

    /* Gray/gray-500 */
    color: #343A40;

}

.info_txt{
    /* Ingresa el texto que desees encriptar o desencriptar. */
    width: 21em;
    height: 3em;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
   
}

.caja_restriccion_letras{
    /* Frame 1 */
    position: absolute;
    width: 17.5em;
    height: 1.5em;
    margin: 39.25em 15em 0 15em;
    display: inline-block;
}

.simbolo_exclamacion{
    position: absolute;
    margin: 0 0 0 0;
    display: inline-block;
}
.restriccion-letras{
    width: 16em;
    height: 1.5em;

    display: inline;
    margin: 0 0 0 2em;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;
}

.caja_botones_encriptar{
    /* Frame 3 */   
    position: absolute;
    display: inline;
    width: 42.5em;
    height: 4.19em;
    margin: 41.81rem 0 0 15rem;

}

.boton_encriptar{ 
    position: absolute;
    display: inline;
    width: 20.5rem;
    height: 4.19rem;
    padding:0 0 0 0;
    margin: auto;
    
    background: #0A3871;
    border-radius: 24px;
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #D8DFE8;
    transition:200ms;
}

.boton_encriptar:hover{
    cursor:pointer;
}

.boton_encriptar:active{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.boton_desencriptar{
    position: absolute;
    display: inline;
    width: 20.5rem;
    height: 4.19rem;
    padding:0 0 0 0;
    margin: 0 0 0 22rem;
    
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
}
.boton_desencriptar:hover{
    cursor:pointer;
}

.boton_desencriptar:active{
    background:#0A3871;
    border: none;
    color:#D8DFE8;
    
}

footer{
    height: 40px;
    background-color: #F3F5FC;
}

.hecho_por{
    height: 42px;
    width: 200px;
    position: relative;
    margin: 0 50%;
    background: #0A3871;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #F3F5FC;
    text-align: center;
    padding: 0.1em;
    border-radius: 20px;
    /*background:linear-gradient(#F3F5FC,#0A3871) ;*/
}

.canvas{
    position: absolute;
    display: block;
    width: 90em;
    height: 64em;   
}


@media screen and (max-width:768px){
    body{
        width: 48em;
        height: 73.44em;
        margin: auto;
    }
    
    main{
        width: 48em;
        height: 73.44em;
    }
    .canvas{
        width: 48em;
        height: 73.44em;
    }
    .caja_logo{
        position: absolute;
        width: 2em;
        height: 3em;
        margin:auto;
        left: 40px;
        top: 76px;
    }
    .logo{
        position: relative;
        display: block;
        margin: auto;
    }
    .texto_ingresado{
        position: absolute;
        width: 21.5em;
        height: 1.5em;
        /*display: block;*/
        margin: 7.5em 0 0 1.25em;

    }

    .resultado{
        position: absolute;
        width: 43em;
        height: 8.32em;
        margin: 62.56em auto auto 2.5em;
        display: block;


    }
    .Muñeco{
        visibility: collapse;
        margin:0;
    }

    .txt_resultado{
        width: 28.67em;
        height: 2.88em;
        margin:0 0 0 0;
    }
    
    .caja_restriccion_letras{
        position: absolute;
        margin: 52.25em auto 4em 1em;
        width: 14.32em;
        height: 1.13em;

    }
    .caja_botones_encriptar{
        position: absolute;
        width: 43em;
        height: 4.19em;
        margin: 54.38em 2.5em 0 2.5em;
    }

    .info_txt{
        width: 39em;
        height: 1.5em;

        margin: 1em 2em 1em 2em;

        font-size: 16px;
        line-height: 150%;
        text-align: center;
    }

    .msg_no_encontrado{
        position: relative;
        width: 26em;
        height: 1.21em;
        margin: 1.33em 1.33em 0.67em 1.33em;

        font-size: 24px;
        line-height: 120%;
        text-align: center;
    }
    
    footer{
        width: 100%;
        display: block;      
    }
    .hecho_por{
        position: absolute;
        margin: 0 40.63em 0 23.96em;
    }
}
@media screen and (max-width:375px){
    body{
        width: 23.44em;
        height: 58.31em;
        margin: auto;
    }
    
    main{
        width: 23.44em;
        height: 58.31em;
        margin: auto;
    }

    .canvas{
        width: 23.44em;
        height: 58.31em;
    }

    .caja_logo{
        position: absolute;
        width: 2em;
        height: 3em;
        margin:auto;
        left: 16px;
        top: 24px;
    }
    .logo{
        position: relative;
        display: block;
        margin: auto;
    }
    .texto_ingresado{
        /* font-size: 32px */
        position: absolute;
        width: 10.75em;
        height: 1.5em;
        /*display: block;*/
        margin: 4.75em auto auto 0.5em;

    }

    .resultado{
        position: absolute;
        width: 20.44em;
        height: 11.63em;
        margin: 44.19em auto auto 1.5em;
        display: block;


    }
    .Muñeco{
        visibility: collapse;
        height: 0%;
        margin:0;
    }

    .txt_resultado{
        width: 10.22em;
        height: 5.76em;
        margin:0 0 0 0;
    }
    
    .caja_restriccion_letras{
        position: absolute;
        margin: 28.25em auto 4em 1em;
        width: 14.32em;
        height: 1.13em;

    }
    .caja_botones_encriptar{
        position: absolute;
        width: 21.44em;
        height: 4.19em;
        margin: 30.32em 1em 0 1em;
    }

    .boton_encriptar{
        display: block;
        width: 21.44em;
    }

    .boton_desencriptar{
        position: relative;
        width: 21.44em;
        margin: 1.5em auto;

    }

    .info_txt{
        width: 16.44em;
        height: 3em;

        margin: 0 2em 1em 2em;

        font-size: 16px;
        line-height: 150%;
        text-align: center;
    }

    .msg_no_encontrado{
        position: relative;
        width: 10.96em;
        height: 2.42em;
        margin: 1.33em 1.33em 0.67em 1.33em;

        font-size: 24px;
        line-height: 120%;
        text-align: center;
    }
    
    footer{
        width: 100%;
        display: block;      
    }
    .hecho_por{
        position: absolute;
        width: 50%;
        height: 2.5em;
        margin: 0 5.86em 0 7.52em;
        text-align:center;        
    }    
    .hecho_por p{
        display: block;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px
    }
}
